<div class="col-lg-6">
    <h2>Bordered with Striped Rows</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Serial Number</th>
                <th>Name</th>
                <th>Group</th>

            </tr>
            </thead>
            <body>
            {{#each model as |student|}}
                <tr>
                    <td>{{student.serialNumber}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.groupNumber}}</td>
                </tr>
            {{/each}}
            </body>
        </table>
    </div>
</div>

<div class="input-group">
            <span class="input-group-addon" >@</span>
            <input type="text" id="basic-addon1" class="form-control" placeholder="serialNumber" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">@</span>
            <input type="text" id="basic-addon2" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">@</span>
            <input type="text" id="basic-addon3" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <button {{action 'addStudent' }} type="submit" class="btn btn-default">Add</button>

{{outlet}}
