{{#if authManager.isAuthenticated}}
   {{#if (eq authManager.data.authenticated.access_token "cod bs")}}
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">AppAcademic</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{authManager.data.authenticated.teacher.firstName}} {{authManager.data.authenticated.teacher.lastName}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a {{action 'invalidateSession'}} ><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

        <!-- /.navbar-collapse -->
    </nav>


    <div class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav side-nav">
            <li>
                {{#link-to 'cod'}}HOME{{/link-to}}
            </li>
            <li>
          		<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>Teachers<i class="fa fa-fw fa-caret-down"></i></a>
            	<ul id="demo" class="collapse">
                    <li>
                        {{#link-to "cod.allteachers"}}All{{/link-to}}
                    </li>
                    <li>
                        {{#link-to "teacher"}}With Best Results{{/link-to}}
                    </li>
            	</ul>
          	</li>
            <li>
            	{{#link-to "cod.courses"}}All Courses{{/link-to}}
            </li>
            <li>
                {{#link-to "cod.optionalcourses"}}Optional Courses{{/link-to}}
            </li>
        </ul>
    </div>

    <div id="page-wrapper">

        <div class="container-fluid">

            <h1>This is the COD page!</h1>
            {{outlet}}

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
    {{/if}}
    {{#if (eq authManager.data.authenticated.access_token "student bs")}}
        {{student-page}}
    {{/if}}

    {{#if (eq authManager.data.authenticated.access_token "teacher bs")}}

        {{teacher-page}}
    {{/if}}
   {{#if (eq authManager.data.authenticated.access_token "admin bs")}}
        {{administrator-page}}
    {{/if}}
{{else}}
	{{login-page}}
{{/if}}