{{#if authManager.isAuthenticated}}
  {{administrator-page}}
    <a {{action 'invalidateSession'}}>Logout</a>
{{else}}

<div class="container">
<form class="form-signin" {{action 'authenticate' on='submit'}}>
<h2 class="form-signin-heading">Please sign in</h2>
  <label for="idLogin" class="sr-only">Email address</label>
  {{input id="idLogin" value=login placeholder='Login' class="form-control"}}<br>
  <label for="inputPassword" class="sr-only">Password</label>
  {{input id="inputPassword" value=password placeholder='Password' type='password' class="form-control"}}<br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form></div>
{{/if}}