
<div class="col-lg-6">
    <h2>List of all Disciplines</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th {{action "sortBy" "code"}}>code</th>
                <th {{action "sortBy" "name"}}>name</th>
                <th {{action "sortBy" "semester"}}>semester</th>
                <th {{action "sortBy" "lecture"}}>lecture</th>
                <th {{action "sortBy" "seminary"}}>seminary</th>
                <th {{action "sortBy" "laboratory"}}>laboratory</th>


            </tr>
            </thead>
            <tbody>
            {{#each model as |discipline|}}
                <tr>

                    <td>{{discipline.code}}</td>
                    <td>{{discipline.name}}</td>
                    <td>{{discipline.semester}}</td>
                    <td>{{discipline.lecture}}</td>
                    <td>{{discipline.seminary}}</td>
                    <td>{{discipline.laboratory}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
