<h2>List of students</h2>


{{#each model as |student|}}
    <p>{{student.serialNumber}} - {{student.name}} - {{student.groupNumber}}</p>
{{/each}}


{{entities-list title="All students (using an ember component):" entities=model}}

{{#link-to 'administrator.edit'}}{{/link-to}}

{{outlet}}
